<%= form_for [@test, @question], local: true do |f| %>
  <%= render 'shared/errors' %>
  <p>
    <%= f.label :body, 'Вопрос' %>
    <%= f.text_field :body, id: :question_body %>
  </p>
  <p><%= f.submit %></p>
<% end %>
