<h1><%= question_header(@question) %></h1>
<%= form_with model: [@test, @question], local: true do |f| %>
  <%= render 'shared/errors', resource: @question %>
  <p>
    <%= f.label :body, 'Вопрос' %>
    <%= f.text_field :body, id: :question_body, rows: 7, cols: 60 %>
  </p>
  <p><%= f.submit %></p>
<% end %>
<%= link_to 'Назад', test_path(@question.test) %>
