<h1>Тест <%= @test.title %></h1>

<p>
  <strong>Уровень:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Автор:</strong>
  <%= @test.author.name %>
</p>

<h2>Вопросы</h2>

<%= link_to 'Создать новый вопрос', new_test_question_path(@test) %> <br>

<ol>
  <%= render @test.questions %>
</ol>

<%= link_to 'Назад', tests_path %>
